@use "@styles" as *;

.meldInputWrapper {
  background: none;
  border: none;
  width: 80%;

  @media (max-width: 680px) {
    width: 100%;
  }
  margin: 8px;
  place-items: center;

  .meldInput {
    width: 100%;
    position: relative;
    max-width: 500px;
    background-color: $surface;
    box-sizing: border-box;
    border-radius: 16px;
    border-color: $border;
    padding: 16px;
    margin: 0px auto;

    transition: background-color 0.3s ease-in-out;

    .meldInputLegend {
      background-color: $background;
      border: 1px solid $border;
      border-radius: 16px;
      padding: 8px 16px;
      font-weight: 500;
      font-size: 1.2rem;
    }
  }

  &:hover .meldInput {
    background-color: $surface-lit;
  }
}

.tabLabel {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: $text-secondary;
  padding: 8px;

  :first-child {
    font-size: 1.2rem;
    font-weight: 600;
    color: $text-primary;
  }
}
