@use "@styles" as *;

.tileImg {
  width: 100%;
  position: relative;
}

.tileImgContainer {
  width: 100%;
  position: relative;

  &::before {
    // Permanent
    content: "";
    position: absolute;
    inset: 4%;

    background-color: $tile-lit;
    border: 8px solid black;

    border-radius: 30%;
  }
}
