@use "@styles/tokens/colours" as *;
@use "@styles/tokens/shadows" as *;
@use "sass:map";

// Surface + background
$background: palette(neutral, 800);
$surface: palette(neutral, 600);
$surface-lit: palette(neutral, 500);
$border: palette(neutral, 200);

// Main Colours
$primary: palette(primary, 900);
$secondary: palette(complimentary, 800);

// Text
$text-primary: rgba(palette(neutral, 50), 0.87);
$text-secondary: rgba(palette(neutral, 50), 0.6);
$text-muted: rgba(palette(neutral, 50), 0.38);
$text-complimentary: rgba(palette(complimentary, 200), 0.87);

$text-dark: palette(neutral, 900);

// Feedback
$success: palette(accent, green);
$error: palette(accent, red);
$info: palette(accent, blue);
$warning: palette(accent, yellow);
$feedback-border: palette(neutral, 100);

// Tile
$tile-lit: palette(primary, 900);
$tile-mid: palette(variants, tile-mid);
$tile-shadow: palette(variants, tile-shadow);
$tile-white: palette(variants, tile-white);

$black: palette(neutral, 900);
$white: palette(neutral, 50);

$shadow-100: shadow(100);
$shadow-200: shadow(200);
$shadow-300: shadow(300);
$shadow-400: shadow(400);

// Buttons
$button-transition: 0.3s ease;

$button-primary-bg: palette(primary, 900);
$button-primary-color: palette(neutral, 50);
$button-primary-border: palette(primary, 400);
$button-primary-hover-bg: palette(primary, 700);
$button-primary-active-bg: palette(primary, 800);

$button-complimentary-bg: palette(complimentary, 800);
$button-complimentary-color: $text-primary;
$button-complimentary-border: palette(complimentary, 400);
$button-complimentary-hover-bg: palette(complimentary, 700);
$button-complimentary-active-bg: palette(complimentary, 900);

// Tabs

$tab-inactive-bg: transparent;
$tab-inactive-border: palette(primary, 900);

$tab-hover-bg: rgba(palette(primary, 800), 0.4);
$tab-hover-border: palette(primary, 600);

$tab-active-bg: palette(complimentary, 900);
$tab-active-border: palette(complimentary, 400);

$tab-active-hover-bg: $tab-active-bg;
$tab-active-hover-border: palette(complimentary, 300);

// Radio

$radio-inactive-bg: transparent;
$radio-inactive-border: palette(primary, 900);

$radio-hover-bg: rgba(palette(primary, 800), 0.4);
$radio-hover-border: palette(primary, 600);

$radio-active-bg: palette(complimentary, 900);
$radio-active-border: palette(complimentary, 400);

$radio-active-hover-bg: $radio-active-bg;
$radio-active-hover-border: palette(complimentary, 300);
