@use "@styles" as *;

.tileImg {
  max-width: 100%;
  max-height: 100%;
  position: relative;
  width: 100%;
}

.tileImgContainer {
  aspect-ratio: 14 / 17;
  overflow: hidden;

  max-width: 100%;
  width: 100%;
  max-height: 100%;
  position: relative;
}

$loading-tile-width: 71%;
$loading-tile-height: 75%;

$loading-border-width: 3 * 1.7%;
$loading-border-height: 3 * 1.4%;

.loadingPlaceholder {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;

  .loadingRectBorder {
    position: absolute;
    height: calc($loading-tile-height + 2 * $loading-border-height);
    width: calc($loading-tile-width + 2 * $loading-border-width);
    border-radius: 16%;
    background-color: $black;
    &.frontBorder {
      left: 0;
      bottom: 0;
    }
    &.backBorder {
      right: 0;
      top: 0;
    }
  }

  .loadingTileRect {
    width: $loading-tile-width;
    height: $loading-tile-height;
    border-radius: 12%;

    position: absolute;

    &.loadingFrontRect {
      bottom: $loading-border-height;
      left: $loading-border-width;
      &.faceUpFront {
        background: $tile-face;
      }
      &.faceDownFront {
        background: $tile-lit;
      }
    }

    &.loadingBackRect {
      top: $loading-border-height;
      right: $loading-border-width;
      &.faceUpBack {
        background: $tile-lit;
      }
      &.faceDownBack {
        background: $tile-white;
      }
    }
  }
}

.loadingShimmer {
  overflow: hidden;

  &::after {
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 0;
    background: linear-gradient(
      -60deg,
      rgba($tile-shimmer, 0) 30%,
      rgba($tile-shimmer, 0.4) 50%,
      rgba($tile-shimmer, 0) 70%
    );
    width: 200%;
    animation: shimmer 2s infinite linear;
  }
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
