@use "@styles" as *;

.modalContainer {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .modal {
    position: relative;
    min-height: 300px;
    max-height: 80vh;
    width: 90%;
    max-width: 560px;
    box-sizing: border-box;
    border-radius: 16px;
    background-color: $surface;
    border: 3px solid $border;
    overflow-y: auto;
  }

  .modalButtons {
    display: flex;
    justify-content: space-around;
    width: calc(90% - 32px);
    max-width: 560px;

    button {
      &.primaryButton {
        @include button-primary;
      }

      &.secondaryButton {
        @include button-complimentary;
      }

      &.secondaryOutlineButton {
        @include button-outline;
      }

      &.modalButton {
        position: relative;
        margin: 0px;

        padding: 8px 24px;
        box-sizing: content-box;
        width: fit-content;

        border-radius: 0px 0px 16px 16px;
        border: 3px solid $border;
        border-top: 0px;
      }
    }
  }

  .modalShadow {
    background-color: #0009;
    position: absolute;
    inset: 0;

    height: 100%;
    width: 100%;
  }
}
