@use "@styles" as *;

.header {
  position: sticky;
  z-index: 1;
  left: 0;
  top: 0;

  min-height: 64px;
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
  margin: 0px 0px 24px;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas: "menu logo apiStatus";
  gap: 16px;
  align-items: center;
  justify-content: center;
  background-color: $surface;
  box-shadow: $shadow-400;

  .menuButton {
    grid-area: menu;
    width: min-content;
    height: min-content;
    padding: 8px 16px;
    background-color: $tile-lit;
    border-radius: 8px;
    border: none;
    box-shadow: 2px -2px 4px $tile-mid, 4px -4px 4px $tile-white;
    color: $text-primary;
    font-weight: 600;
    font-size: 1.1rem;
  }

  .logo {
    grid-area: logo;
    display: block;
    place-self: center;
    padding: 0px 16px;

    color: $text-complimentary;
    text-decoration: none;
    font-family: "Brush Script MT", cursive;
    font-size: 1.6rem;
    &:hover {
      color: lighten($text-complimentary, 10%);
    }
  }

  .apiStatus {
    grid-area: apiStatus;
    justify-self: end;

    width: max-content;
    align-items: center;
  }
}
