@use "@styles" as *;

$infoGap: 16px;
$pillWidth: 56px;

.apiStatusPill {
  border-radius: 24px;
  background-color: $warning;
  position: relative;
  height: 40px;
  width: $pillWidth;
  border: none;

  color: black;
  font-weight: 500;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;

  &.error {
    background-color: $error;
  }

  &.ready {
    background-color: $success;
    color: white;
  }

  .info {
    position: absolute;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    min-width: 160px;
    top: 100%;
    z-index: 1;
    margin-top: $infoGap;
    right: 0;
    background-color: inherit;
    box-shadow: $shadow-400;
    border: 2px solid $feedback-border;

    &.fadeOut {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.6s ease-in-out;
    }
  }

  .info:after {
    content: "";
    position: absolute;
    top: -$infoGap;
    right: $pillWidth / 2 - $infoGap - 8px;
    height: $infoGap + 8px;
    width: 2 * $infoGap + 16px;
    clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
    background-color: inherit;
    z-index: 10;
  }
}
